{{#with (changeset education EducationValidator) as |educationChangeset|}}
  {{#form-for educationChangeset education submit=(action 'submit') as |f|}}
    <div id="education-content-edit">
      <div class="row">
        <div class="col-sm-6">
          Ausbildung bearbeiten
        </div>
        <div class="col-sm-6 text-right d-block">
          {{#delete-with-confirmation
              entry=education
              }}
            Löschen
          {{/delete-with-confirmation}}
        </div>
        <div class="col-sm-3 text-center">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="input-group centered-content-input">
            {{daterange-edit entity=education}}
          </div>
        </div>
        <div class="col-sm-6 content-input">
          {{f.text-field 'title' label='Ausbildung' inputClasses="input-xxlarge form-control"}}
          {{f.textarea-field 'location' label='Ausbildungsort' inputClasses="input-xxlarge form-control"}}
        </div>
        <div class="col-md-3 centered-content d-flex flex-column mt-4 px-5">
          <button onclick={{action 'submit' educationChangeset}} role="button" id="submit-button" class="btn btn-primary">Speichern</button>
          <button onclick={{action 'abortEdit'}} role="button" class="btn abort-button">Abbrechen</button>
        </div>
      </div>
    </div>
  {{/form-for}}
{{/with}}
